body {
   background-color: rgb(19, 128, 128);
   color: white;
   width: 100%;
   
}
h1 {
   color: white;
   text-align: center;
   font-size:50px;
   margin: 0;
}

h3 {
   margin-left: 150px;
   font-family:'fantasy';
}

button {
   color: white;
   background-color: yellowgreen;
   border: none;
   padding: 10px 10px;
   border-radius: 5px;
  
}

.navbar{
  width: 100%;
  display: flex;
}

.nav1{
  width: 30%;
  display: flex;
  justify-content: center;
}

.nav2{
  width: 70%;
  display: flex;
  justify-content: center; 
}

.nav2Child{
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.main{
  width: 80%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main > p{
  text-align: center;
  line-height: 20px;
}